#title {
    text-align: center;
    font-size: 2em;
}

.join {
    text-align: right;
}

.s_wrapper {
    text-align: center;
    border: 1px solid black;
    width: 1000px;
    height: 800px;
    margin: 0 auto;
}

#menu {
    float: left;
    font-size: 1.2em;
}

#search {
    float: right;
}