#title {
    text-align: center;
    font-size: 2em;
    border: 1px solid white;
}

.join {
    text-align: right;
}

.s_wrapper {
    text-align: center;
    border: 1px solid white;
    margin-left: 20%;
}

#walk {
    float: left;
    font-size: 1.2em;
    padding: 5%;
    border: 1px solid white;
}

.search {
    margin-right: 25%;
    margin-top: 7%;
}

#search-box {
    width: 250px;
    height: 25px;
}

#search-button {
    width: 45px;
    height: 30px;
}

#d-option {
    width: 50%;
    height: 50%;
    margin: 0 auto;
    padding: 5%;
}

.select {
    width: 100%;
    height: 30px;
}

#btn {
    width: 300px;
    height: 40px;
    font-size: 1.2em;
    margin: 0 auto;
    margin-top: 3%;
    display: block;
}